//global adjust
$gap_global:10px;
$radio:10px;
$paletafooter:rgb(35, 35, 35);
$paletaheader:white;
$paletaprimaria:rgb(53, 121, 53);
$paletasecundaria:rgb(125, 74, 57);


.body_container{
  display: grid;
  font-family: sans-serif;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas: 
  "header nav nav"
  "primer_articulo primer_articulo primer_articulo"
  "tourist_programs tourist_programs tourist_programs"
  "iconos_servicios iconos_servicios iconos_servicios"
  "footer footer footer";
  
  


//header
header{
  width: 100%;
  align-content: center;
  text-align: center;
  background-color: $paletaheader;
  grid-area: header;
  color: black;
  
}

//nav
nav{

  background-color:$paletaheader;
  grid-area:nav ;
  display: flex;
  justify-content: end;
  ul{

    list-style: none;
    padding: 0;
    

    li{
      float: left;
      
      a{
        display: block;
        
        text-align: center;
        padding: 14px 25px;
        text-decoration: none;
      }
    }
  }
  
}

//main
main{
  grid-area: main;
  height: 300px;
  

}
.primer_articulo{
  grid-area: primer_articulo;
  height: 400px;
  background: url(items/river-1841419_1280.jpg);
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;


  .texto_inicial{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    padding:16px;
    color: white;
   
  }
}
.tourist_programs{
  grid-area: tourist_programs;
  display: block;
  flex-direction: column;


  .cards_programs{
    
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;
    align-items: start;
    div img{
      width:100%;
      border-radius: 10px 10px 0 0;
    }
    .program{
      margin:5px;
      border:1.5px solid rgb(232, 231, 231) ;
      border-radius:10px ;
      .card_text{
        color: rgb(98, 98, 98);
        padding: 15px;
      }
      
    }
  }
}

//icons container

.iconos_servicios{
  display: flex;
  
}

//footer
footer{
  grid-area: footer;
  background-color: $paletafooter;
  color: white;
}
}

@media only screen and (max-width:700px) { .body_container{
  grid-template-columns:1fr;
  grid-template-areas:
  "header header"
  "nav nav"
  "primer_articulo primer_articulo"
  "tourist_programs tourist_programs"
  "footer footer";
  }
}

@media only screen and (max-width:550px) { .body_container{
  grid-template-columns:1fr;
  grid-template-areas:
  "header "
  "nav"
  "primer_articulo "
  "tourist_programs "
  "footer ";
  nav{
    justify-content:center ;
    ul{
      width: 90%;
      display: flex;
      flex-direction: column;
      a{
        border-top: 1px solid rgb(176, 176, 176);
      }
    }
  }

  }
}
