@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.body_container {
  display: grid;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header nav nav" "primer_articulo primer_articulo primer_articulo" "about_anything about_anything about_anything" "tourist_programs tourist_programs tourist_programs" "icons_services icons_services icons_services" "footer footer footer";
}
.body_container header {
  width: 100%;
  padding: 20px 0;
  align-content: center;
  text-align: center;
  background-color: white;
  grid-area: header;
  color: black;
}
.body_container nav {
  padding: 20px 0;
  background-color: white;
  grid-area: nav;
  display: flex;
  justify-content: end;
}
.body_container nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.body_container nav ul li {
  float: left;
}
.body_container nav ul li a {
  display: block;
  color: rgb(53, 121, 53);
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}
.body_container main {
  grid-area: main;
  height: 300px;
}
.body_container .primer_articulo {
  grid-area: primer_articulo;
  height: 500px;
  background: url(items/river-1841419_1280.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.body_container .primer_articulo .texto_inicial {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  padding: 16px;
  color: white;
}
.body_container .about_anything {
  grid-area: about_anything;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(102, 137, 102);
  color: aliceblue;
}
.body_container .tourist_programs {
  grid-area: tourist_programs;
  display: block;
  flex-direction: column;
  padding: 20px;
}
.body_container .tourist_programs .cards_programs {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  align-items: start;
}
.body_container .tourist_programs .cards_programs div img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.body_container .tourist_programs .cards_programs .program {
  margin: 5px;
  border: 1.5px solid rgb(232, 231, 231);
  border-radius: 10px;
}
.body_container .tourist_programs .cards_programs .program .card_text {
  color: rgb(98, 98, 98);
  padding: 15px;
}
.body_container .icons_services {
  grid-area: icons_services;
  display: flex;
  justify-content: space-around;
}
.body_container .icons_services .icon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.body_container footer {
  grid-area: footer;
  background-color: rgb(35, 35, 35);
  color: #b8b8b8;
}
.body_container footer .container_footer {
  display: flex;
  justify-content: space-around;
}
.body_container footer .container_footer div {
  padding: 30px;
}
.body_container footer .container_footer .social_media {
  display: flex;
  align-items: center;
}
.body_container footer .container_footer .social_media a {
  text-decoration: none;
}
.body_container footer .container_footer .social_media a img {
  width: 35px;
}

@media only screen and (max-width: 700px) {
  .body_container {
    grid-template-columns: 1fr;
    grid-template-areas: "header header" "nav nav" "primer_articulo primer_articulo" "about_anything about_anything" "tourist_programs tourist_programs" "icons_services icons_services" "footer footer";
  }
  .body_container .container_footer {
    display: flex;
    flex-direction: column;
  }
  .body_container .container_footer .social_media {
    display: flex;
    align-items: center;
  }
  .body_container .container_footer .social_media a {
    text-decoration: none;
  }
  .body_container .container_footer .social_media a img {
    width: 35px;
  }
}
@media only screen and (max-width: 550px) {
  .body_container {
    grid-template-columns: 1fr;
    grid-template-areas: "header " "nav" "primer_articulo " "about_anything about_anything" "tourist_programs" "icons_services" "footer ";
  }
  .body_container nav {
    justify-content: center;
  }
  .body_container nav ul {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .body_container nav ul a {
    border-top: 1px solid rgb(176, 176, 176);
  }
  .body_container .icons_services {
    display: flex;
    flex-direction: column;
  }
  .body_container .container_footer {
    display: flex;
    flex-direction: column;
  }
  .body_container .container_footer .social_media {
    display: flex;
    align-items: center;
  }
  .body_container .container_footer .social_media a {
    text-decoration: none;
  }
  .body_container .container_footer .social_media a img {
    width: 35px;
  }
}

/*# sourceMappingURL=styles.css.map */
