//global adjust
$gap_global:10px;
$radio:10px;
$paletafooter:rgb(35, 35, 35);
$paletaheader:white;
$paletaprimaria:rgb(53, 121, 53);
$paletasecundaria:rgb(125, 74, 57);


.body_container{
  display: grid;
  font-family: sans-serif;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 0.1fr 0.5fr 1fr 1fr;
  grid-template-areas: 
  "header nav nav"
  "primer_articulo primer_articulo primer_articulo"
  "tourist_programs tourist_programs tourist_programs"
  "footer footer footer";
  
  


//header
header{
  
  background-color: $paletaheader;
  grid-area: header;
  color: black;
  
}

//nav
nav{

  background-color:$paletaheader;
  grid-area:nav ;
  display: flex;
  align-items: center;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;

    li{
      float: left;
      
      a{
        display: block;
        
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
    }
  }
  
}

//main
main{
  grid-area: main;
  

}
.primer_articulo{
  grid-area: primer_articulo;
  
  img{
    width:100%;
  }
  
}
.tourist_programs{
  grid-area: tourist_programs;

  .cards_programs{
    
    display: grid;
    width: 100%;
    grid-gap: 3rem;
    grid-template-columns:1fr 1fr 1fr;
    align-items: start;
    div img{
      width:100%;
    }
    .program1{
      background-color:rgb(188, 124, 81);
      margin:5px;
      
      
    }
    .program2{
      
      background-color: rgb(244, 223, 209);
      margin:5px;
    
    }
    .program3{
     
      background-color: rgb(244, 223, 209);
      margin:5px;
    }
  }
}
//footer
footer{
  grid-area: footer;
  background-color: $paletafooter;
  color: white;
}
}

@media only screen and (max-width:700px) { .body_container{
  grid-template-columns:1fr;
  grid-template-rows:0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 2fr;
  grid-template-areas:
  "header header"
  "nav nav"
  "primer_articulo primer_articulo"
  "tourist_programs tourist_programs"
  "footer footer";
  }
}

@media only screen and (max-width:550px) { .body_container{
  grid-template-columns:1fr;
  grid-template-rows:0.4fr 1fr 1ffr 1fr 2fr;
  grid-template-areas:
  "header "
  "nav"
  "primer_articulo "
  "tourist_programs "
  "footer ";
  }
  .cards_programs{

  }
}
